<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060507011780-5cd4sd7br5ea6l4jjnh3ng44hgvp4emv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060507011780-5cd4sd7br5ea6l4jjnh3ng44hgvp4emv</string>
	<key>API_KEY</key>
	<string>AIzaSyASe8S6tCp4sklGCO9XgIQBKPUIxOHwazM</string>
	<key>GCM_SENDER_ID</key>
	<string>1060507011780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KonstantinD.Main-Road</string>
	<key>PROJECT_ID</key>
	<string>main-road-1c737</string>
	<key>STORAGE_BUCKET</key>
	<string>main-road-1c737.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060507011780:ios:8ccc69542db03bd73a9791</string>
</dict>
</plist>